body {
  text-align: center;
  margin: 10px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 11px;
}

input {
  border: none;
  outline: none;
  padding: 8px;
  background: #f5f5f5;
  border-radius: 6px;
}

input:focus {
  box-shadow: inset 0 0 0 1px #18a0fb;
}

.scroller {
  height: 280px;
  overflow-y: scroll;
}

.no-results {
  display: flex;
  align-items: center;
  justify-content: center;
}

.option-group-list {
  margin: 0;
  padding: 5px 0;
  text-align: left;
}

.option-group-header {
  margin: 0;
  padding: 6px;
  font-weight: 600;
  position: sticky;
  top: 0;
  background: #fff;
  text-align: left;
  border: 1px solid transparent;
}

.option-group-item {
  display: block;
  padding: 6px;
  border-radius: 2px;
  border: 1px solid transparent;
  border-radius: 6px;
}

.option-group-item:hover {
  background: #f5f5f5;
}

.option-group-item.selected {
  border: 1px solid #18a0fb;
}
