body {
  font: 12px sans-serif;
  text-align: center;
  margin: 20px;
}
input {
  border: none;
  outline: none;
  padding: 8px;
  border-radius: 2px;
  box-shadow: inset 0 0 0 1px #e5e5e5;
}
input:focus {
  box-shadow: inset 0 0 0 2px #18a0fb;
}
.hoverable {
  border-radius: 2px;
  border: 2px solid transparent;
}
.hoverable:hover {
  background: rgba(0, 0, 0, 0.06);
}
.hoverable:active {
  border-color: #18a0fb;
}
